/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333; /* change default text color */
}

/* Header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(19, 19, 19);
  padding: 0 50px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

.links a:hover {
  color: #bbb;
}

/* Page Content */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 100px;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product .description {
  text-align: center;
  /* padding: 20px; */
  font-size: 18px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus {
  outline: none;
  border-color: #6b6eff;
  box-shadow: 0 0 5px #6b6eff;
}

input[type="submit"] {
  background-color: #6b6eff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4c4cff;
}
.form-btn{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}